src/gr/aueb/cf/xml_excercise/dtd/dtd_validation/example.dtd

<!ELEMENT breakfast_menu (food+)>
<!ELEMENT food (name, price, description, calories)>
<!ATTLIST food c1 CDATA "default">
<!ATTLIST food c2 CDATA #IMPLIED>
<!ATTLIST food c3 CDATA #IMPLIED>
<!ATTLIST food c4 CDATA #IMPLIED>
<!ELEMENT name (#PCDATA)>
<!ELEMENT price (#PCDATA)>
<!ELEMENT description (#PCDATA)>
<!ELEMENT calories (#PCDATA)>
<!--οριζει καινουριο entity. οταν γραφει στο xml &euro;  θα εμφανιζεται
το συμβολο του ευρω. -->
<!ENTITY euro "€">